{% extends 'base.html' %}


{% block title %}
    Send Enquiries
{% endblock title %}
    

{% block content %}

<div class="container my-4">
    <h2 class="my-4">Your send enquiries</h2>
    
    {% if enquiries %}
                
        <table class="table my-4">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Property Name</th>
                <th scope="col">Property Address</th>
                <th scope="col">Property Price</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for enquiry in enquiries %}
                <tr>
                    <th scope="row">{{ enquiry.id }}</th>
                    <td>{{ enquiry.property_id.property_title }}</td>
                    <td>{{ enquiry.property_id.address }}</td>
                    <td>{{ enquiry.property_id.price }}</td>
                    <td><a href="{% url 'property' enquiry.property_id.id %}"><button type="button" class="btn btn-light">View Property</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p class="bg-dark text-white py-2 px-4 text-center">You haven't made any enquiry</p>
    {% endif %}

</div>

{% endblock content %}