{% extends 'base.html' %}
{% load static %}


{% block title %}
Properties
{% endblock title %}


{% block content %}
<!-- Search Property -->
<div class="container my-4">
    <form action="{% url 'search_property' %}" method="GET" class="d-flex justify-content-center align-items-center">
        <input type="search" name="search_property" class="form-control me-2" style="width: 50%;" placeholder="Search by location">
        <button class="btn btn-dark">Search</button>
    </form>
</div>

<!-- Properties Listings -->
<div class="container">
    <h2 class="text-center my-3">Properties</h2>
    <div class="d-flex justify-content-center align-items-center flex-wrap">
        {% for property in properties %}
        <div class="card m-3 position-relative">
            <!-- {{ property.main_image.url }} -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxuwwqhbenhtr_hPOkocblyV6wKAbOvfKY8g&s"
                class="card-img-top" alt="property-image">
            <div class="card-body">
                <div class="price-label">
                    {{ property.price }} / month
                </div>
                <h5 class="card-title">{{ property.property_title | title}}</h5>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex mx-1">
                        <p><i class="fa-solid fa-bed mx-1"></i></p>
                        <p>{{ property.bedrooms }} Beds</p>
                    </div>
                    

                    <div class="d-flex justify-content-center align-items-center mx-1 my-3">
                        <p><i class="fa-solid fa-bath mx-1"></i></p>
                        <p>{{ property.bathrooms }} Baths</p>
                    </div>

                    <div class="d-flex mx-1">
                        <p><i class="fa-solid fa-chart-area mx-1"></i></p>
                        <p>{{ property.sqft }} Sqft</p>
                    </div>
                </div>
                <hr class="w-100">

                <div class="d-flex justify-content-between">
                    <p><i class="fa-solid fa-location-dot"></i> {{ property.address | title }} </p>
                    <a href="{% url 'property' property.id  %}"><button class="btn btn-dark">Details</button></a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}